@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: "Rubik", sans-serif;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
